hvzsite/secret.txt
hvzsite/secrets.json
hvzvenv
venv
*.pyc
hvzsite/hvz/migrations
hvzsite/static/profile_pictures/*
hvzsite/static/blaster_pictures/*
hvzsite/static/team_pictures/*
*~
hvzsite/static_root
hvzsite/media*
hvzsite/config.json
hvzsite/hvz.log